<?xml version="1.0" encoding="utf-8" ?>

  <!-- Documentation: https://github.com/Esri/resource-proxy -->

  <!--  mustMatch: When true only the sites listed using serverUrl will be proxied. Set to false to proxy any site, which can be useful in testing. However, we recommend setting it to "true" for production sites.
        allowedReferers="http://server.com/app1,http://server.com/app2" : A comma-separated list of referer URLs. Only requests coming from referers in the list will be proxied.-->
<ProxyConfig allowedReferers="*"
             mustMatch="true"
             proxyUrl="http://localhost/WebApp/Handlers/AppProxy.ashx">
  
  <!--  url : Location of the ArcGIS Server service (or other URL) to proxy. Specify either the specific URL or the root (in which case you should set matchAll="false").
        matchAll="true": When true all requests that begin with the specified URL are forwarded. Otherwise, the URL requested must match exactly.
        username: Username to use when requesting a token - if needed for ArcGIS Server token based authentication.
        password: Password to use when requesting a token - if needed for ArcGIS Server token based authentication.
        tokenServiceUri: If username and password are specified, the proxy will use the supplied token service uri to request a token. If this value is left blank, the proxy will request a token URL from the ArcGIS server.
        useAppPoolIdentity: When true, the IIS application pool identity will be used for authenticating with secured resources. This configuration will supersede the domain, username, and password configurations. The default is false. Only applies to DotNet proxy.
        domain: The Windows domain to use with username/password when using Windows Authentication. Only applies to DotNet proxy.
        clientId. Used with clientSecret for OAuth authentication to obtain a token - if needed for OAuth 2.0 authentication. NOTE: If used to access hosted services, the service(s) must be owned by the user accessing it, (with the exception of credit-based esri services, e.g. routing, geoenrichment, etc.)
        clientSecret: Used with clientId for OAuth authentication to obtain a token - if needed for OAuth 2.0 authentication.
        oauth2Endpoint: When using OAuth 2.0 authentication specify the portal specific OAuth 2.0 authentication endpoint. The default value is https://www.arcgis.com/sharing/oauth2/.
        accessToken: OAuth2 access token to use instead of on-demand access-token generation using clientId & clientSecret. Only applies to DotNet proxy.
        rateLimit: The maximum number of requests with a particular referer over the specified rateLimitPeriod.
        rateLimitPeriod: The time period (in minutes) within which the specified number of requests (rate_limit) sent with a particular referer will be tracked. The default value is 60 (one hour).
        hostRedirect: The real URL to use instead of the "alias" one provided in the url property and that should be redirected. Example: <serverUrl url="http://fakedomain" hostRedirect="http://172.16.85.2"/>.
        
        bypassAuthen: If true, proxy server will not check for authenication. This mean that "anyone" (including hacker) can use this proxy server to forward the url you specified.
        checkCSRFToken: If true, proxy server will check if the request is fake or not. Fake request is the situation that user open our real domain webpage, then user open another hacker domain webpage that have fake request send to our server.         
        -->
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
               matchAll="true"
               checkCSRFToken="false"
               bypassAuthen="false"/>
    <serverUrl url="http://server.arcgisonline.com"
               matchAll="true"
               checkCSRFToken="false"
               bypassAuthen="false"/>
    <serverUrl url="https://157.179.28.137/arcgis/rest/services/"
               matchAll="true"
               username="portaladmin"
               password="portal123"
               checkCSRFToken="false"
               bypassAuthen="false"/>
  </serverUrls>
</ProxyConfig>
